@import "@/styles/common";
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 15px 50px;
  cursor: pointer;
}

.variant {
  &-base {
    @include button-base;
  }
  &-link {
    @include button-link;
  }
}