@import "@/styles/common";
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 15px 50px;
  cursor: pointer;
}

.link {
  @include font-base;
  color: var(--color-gray-100);
  &:hover {
    color: var(--color-orange-100);
  }
}

.variant {
  &-base {
    @include button-base;
  }
}